@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4r9sak');
  src:  url('fonts/icomoon.eot?4r9sak#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4r9sak') format('truetype'),
    url('fonts/icomoon.woff?4r9sak') format('woff'),
    url('fonts/icomoon.svg?4r9sak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-UDOT:before {
  content: "\e900";
}
.icon-funding:before {
  content: "\e922";
}
.icon-goal:before {
  content: "\e901";
}
.icon-Home:before {
  content: "\e902";
}
.icon-local-bridge:before {
  content: "\e903";
}
.icon-NHS-bridge:before {
  content: "\e904";
}
.icon-Program-briefing:before {
  content: "\e907";
}
.icon-Program:before {
  content: "\e908";
}
.icon-Tactical:before {
  content: "\e909";
}
.icon-Utah-bridge:before {
  content: "\e91f";
}
